<section id="skills">
    <div class="animation">
      <ng-lottie width="auto" height="100%" (animationCreated)="animationCreated($event)" [options]="options"></ng-lottie>
    </div>
    
    <div class="row d-flex justify-content-center heading">
      <div class="col-8 d-flex justify-content-center">
        <p class="text-white text-uppercase hoverable">Some Technologies that I Am familiar with</p>
      </div>
    </div>
  
  
    <div class="container-fluid">
      <div fxLayout="row wrap" fxLayoutGap=" 1.6em grid" class="grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let skill of skillsArray; index as i;">
    
          <div class="container d-flex justify-content-center my-5">
            <div class="card card-{{i}} hoverable">
              <!-- <img _ngcontent-nyg-c18="" class="card-img-top mt-3" src="./../portfolio/assets/images/angular.png" alt="angular icon"> -->
              <img
                src="./../portfolio/assets/images/{{skill.title.toLowerCase()}}.png"
                class="card-img-top mt-3"
                alt="{{skill.title.toLowerCase()}} icon"
              />
              <div class="card-body text-center">
                <h5 class="card-title align-self-center text-dark text-uppercase">{{skill.title}}</h5>
                <p class="card-text text-muted">
                  {{skill.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row d-flex justify-content-center" id="magic">
        <div class="col-3 d-flex justify-content-center hoverable">
          <button class="btn btn-primary py-3" (click)="shuffle()">Click Here To See Some Magic</button>
        </div>
      </div>
    </div>
  </section>