<section id="contact" class="d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div id="contact-card" class="col-lg-10">
          <div class="wrapper">
            <div class="row no-gutters">
              <div id="contact-left" class="col-md-6 p-0 d-flex align-items-stretch">
                <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                  <h3 class="mb-4 text-capitalize">Write to me</h3>
                  <div id="form-message-warning" class="mb-4"></div> 
                  <div id="form-message-success" class="mb-4">
                    Your message was sent, thank you!
                  </div>
                  <form id="contactForm" name="contactForm" class="contactForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group hoverable">
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-12"> 
                        <div class="form-group hoverable">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group hoverable">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group hoverable">
                          <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 mt-3">
                        <div class="form-group hoverable">
                          <input type="submit" value="Send Message" class="btn btn-primary">
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div id="contact-right" class="col-md-6 p-0 d-flex align-items-stretch">
                <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                  <h3 class="heading">Connect with me</h3>
                  <p class="mb-4">I'm open for any suggestion or just to have a chat</p>
                  <div class="dbox d-flex align-items-center">
                    <!-- <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-paper-plane"></span>
                    </div> -->
                    <div class="text hoverable">  <!-- "text ps-3" -->
                      <p><span class="">Email: </span> <a href="mailto:ravishankar2463@gmail.com">ravishankar2463@gmail.com</a></p>
                    </div>
                  </div>
                  <h3 class="heading mt-5">See my work</h3>
                  <div id="social-icons" class="dbox d-flex mt-2 mt-md-3">
                    <a href="#contact">    <!-- <a href="" target="_blank"> -->
                      <div class="icon social-icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-github"></span>
                      </div>
                    </a>
                    <a href="#contact">
                      <div class="icon social-icon d-flex align-items-center justify-content-center ms-3">
                        <span class="fa fa-linkedin"></span>
                      </div>
                    </a>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>