/* You can add global styles to this file, and also import other style files */
@import './animations.scss';




//*Css Resets
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%;  /* 1 rem = 10px; 10px/16px = 62.5% */ 
    
}

body {
    box-sizing: border-box;
}






//*utility classes
.rounded-big{
    border-radius: 1.3rem;
}





.btn-xl {
    padding: 0.8em 1em;
    font-size: 1.5em;
    border-radius: 0.8em;
}

@media (max-width: 640px) {
    .btn-xl {
        padding: 0.6em 1em;
        font-size: 1em;
        border-radius: 1em;
    }
}