/* You can add global styles to this file, and also import other style files */
@import './animations.scss';




//*Css Resets
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%;  /* 1 rem = 10px; 10px/16px = 62.5% */ 
    
}

body {
    box-sizing: border-box;
}




//*custom cursor
.cursor {
    pointer-events: none;
}

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1021;
}

.cursor__ball circle {
    fill: #f7f8fa;
    // fill: rgba(92, 92, 92, 0.87);
}

body{
    cursor: none;
}


@media (max-width: 640px) {
  .cursor {
    display: none;
  }
}







//*utility classes
.rounded-big{
    border-radius: 1.3rem;
}





.btn-xl {
    padding: 0.8em 1em;
    font-size: 1.5em;
    border-radius: 0.8em;
}

@media (max-width: 640px) {
    .btn-xl {
        padding: 0.6em 1em;
        font-size: 1em;
        border-radius: 1em;
    }
}